/*
* https://stackoverflow.com/questions/19737306/bootstrap-3-responsive-table-with-fixed-first-column
*/
@charset "UTF-8";
/*
.banda {
	position: fixed;
}
*/
.table-responsive>.fixed-column {
	position: absolute;
	display: inline-block;
	background: white;
	width: auto;
}